*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.2rem;
}
.calculator{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,0%);
    

}
.calculator-input{
    width: 100%;
    font-size: 4rem;
    height: 70px;
    border: none;
    background-color: black;
    color: red;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
}

button{
    height: 50px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    
    font-size:2.5rem ;
    color: red;

}
button:hover{
    background-color: grey;

}
.operator{
 color:black ;
}
.operator:hover{
    background-color: red;
}
.clear{
    background-color: #f0595f;
}
.clear:hover{
    background-color: #f17377;
}
.equal-sign{
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    grid-area: 2/4/6/5;
    height: 100%;
}
.equal-sign:hover{
    background-color:#4e9ed4; 
}

.calculator-keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 20px;
}